<% include partials/header %>
<body style="background:#7395ae;">
  <center><h2 class="white-text">Books Available</h2></center>
<div class="container">

<center>
<button class=" cyan lighten-5 btn"><a href="/mybooks">View My Books</a></button>
<button class=" cyan lighten-5 btn"><a href="/bookstatus">My Book Status</a></button></center>

<% books.forEach(function(book){%>


<% if (book.username!=user.username) {%>

<div class="row" class="col s12 m12 l12">
    <div class="col s12 m12">
     
              
               
                      <div class="card" style="background:#5d5c61;">
                        <div class="card-content white-text center">
                          <span class="card-title" align="left" style="font-family:verdana; font-size:30px; text-decoration:underline;"><%=book.name%></span>
                          <div class="row">
                            <div class="col l6 m6 s12" align="left">
                              
                          <strong>Course Code:</strong><span><%=book.coursecode%></span><br>
                          <strong>Owner:</strong><span><%=book.owner%></span><br>
                          <strong>Free Slots:
                          <% var i; for (i = 0; i < book.savl.length; i++) { %>
                          <%= book.savl[i] %>
                          <% } %>
                          </strong><br>
                          </div>
                          <div class="col l6 m6 s12" align="left">
                          <strong>Phone:</strong><span><%=book.phone%></span><br>
                          <strong><a href="https://api.whatsapp.com/send?phone=+91<%=book.phone%>&text=Hi I found your book <%=book.name%> Please can you give me in slot">WhatsApp Me Here!</a></strong><br>
                          <strong><a href="/books/<%=book._id %>">Request this Book</a></strong></div>
                        </div>
                      </div>
                      </div>
              
                
        
	
<% } %>
<% }) %>


 </div>
  </div>
</div>
<% include partials/footer %>